
#grid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin: auto;
}

.grid-item {
  flex-basis: 25%;
  background-color: tomato;
}

.grid-item-hovered {
  background-color: blueviolet;
}

#reset-button {
  background-color: red;
  color:white;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  border: 0px;
}

#reset-button:hover {
  background-color: #d70000;
}